#one{
	width: 100px;
	height: 100px;
	background: orange;
}

#two{
	width: 100px;
	height: 100px;
	background: green;
}

#t3{
	width: 100px;
	height: 100px;
	background: red;
}

#t4{
	width: 100px;
	height: 100px;
	background: black;
}

#t5{
	width: 100px;
	height: 100px;
	background: gold;
}